<div class="others-page-container">
    <div class="page-title">
        <h1>{{ servicetitle | titlecase }}</h1>
    </div> 
    <div class="clear"></div> 
    <div class="services-back">
        <div *ngIf="services.length>0; then showservice else defaultmessage"></div>
        <ng-template #showservice>
            <div class="row">
                <div class="col-6" *ngFor="let service of services">
                    <a routerLinkActive="active" routerLink="/{{service.url}}">
                        <div class="portion">
                            <div class="icon-back">
                                <img src="assets/images/{{service.iconname}}.svg" alt="">
                            </div>
                            <h3>{{service.title | titlecase}}</h3>                    
                        </div>
                    </a>
                </div>
            </div>
        </ng-template>
        <ng-template #defaultmessage>
            <div class="row">
                <div class="col-12">
                    <a>
                        <div class="portion">
                            <div class="icon-back">
                                <img src="assets/images/plugin.svg" alt="">
                            </div>
                            <h3>No Product Available</h3>                    
                        </div>
                    </a>
                </div>
            </div>
        </ng-template>
    </div> 
</div>
